<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MakeYourOwnAdvanture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BEC8CA0C1BF53A4A005D8E21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEC8CA201BF53A4A005D8E21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEC8CA2B1BF53A4A005D8E21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
